.gallerycontainer, .gallerycontainer a img {
	box-sizing: border-box;
    }

.gallerycontainer {
	display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 10px;
}

.gallerycontainer a img {
width: 100%;
height: 100%;
object-fit: cover;
}

.gallerycontainer a img:nth-child(5), .gallerycontainer a img:nth-child(13) {
grid-column-start: span 2;
}

.gallerycontainer a img:nth-child(7) {
grid-row-start: span 2;
}


/*--------------------------- INICIO MEDIA QUERUES ---------------------------*/
@media only screen and (max-width: 900px) {
    .gallerycontainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 635px) {
    .gallerycontainer {
        grid-template-columns: 1fr;
    }
}
/*----------------------------- fin media queries -----------------------------*/