.row, .column {
    box-sizing: border-box;
}

.column img {
    width: 100%;
    padding: 2.5px;
    opacity: 0.5;
    transition: 180ms opacity ease-in-out;
}

.column img:hover {
    opacity: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    padding: 5px;
    flex: 25% 0;
}


/*--------------------------- INICIO MEDIA QUERUES ---------------------------*/
@media only screen and (max-width: 800px) {
    .column {
        flex: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .column {
        flex: 100%;
    }
}