
#iconos img {
    border-color: red;  /*SACARLO CUANDO TERMINE LA PÁGINA */
    border-width: 1px;  /*SACARLO CUANDO TERMINE LA PÁGINA */
    border-style: solid;  /*SACARLO CUANDO TERMINE LA PÁGINA */
    margin-left: 3em;
    transition: 0.5s;       /* Se parametriza el estado inicial de la imagen, al que debe volver */
}

#iconos img:hover {
    transform: scale(0.8);
    transition: 0.5s;
}

.item {
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

