/*--------------------------- INICIO CREACIÓN DE LAS LÍNEAS A LOS COSTADOS DEL TÍTULO ---------------------------*/
.lines-effect::before, .lines-effect::after {
    content:"";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top:2.6em;
}

.lines-effect::before {
    left: -140px;
}

.lines-effect::after {
    right: -140px;
}

.lines-effect {
    display:inline-block;
    position:relative;
}

.lines-effect img {
    display:inline-block;
}
/*--------------------------- fin creación de las líneas a los costados del título ---------------------------*/

 /* Línea debajo de los íconos */
 .radial-gradient {
    background:radial-gradient(at center, red, #cc2bec);
    width: 85%;
    height: 3px;
    margin-bottom: 15px;
}

.nav {
    display: inline-block;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.nav img {
    margin-left: 1.5em;
    margin-right: 1.5em;
    transition: 0.5s;       /* Se parametriza el estado inicial de la imagen, al que debe volver */
}

.nav img:hover {
    transform: scale(0.8);
    transition: 0.5s;
}


/**************************************************** MEDIA QUERIES DEL HEADER **********/
@media only screen and (max-width: 1300px) {
    .nav {
        overflow: auto;
        justify-content: flex-start;
		margin-left: 20px;
		margin-right: 20px;
    }
}
/**************************************************** MEDIA QUERIES DEL HEADER **********/

