/**
* ! changing default styles of brower
**/

#signupheader, #signupbody {
    margin: 0;
    box-sizing: border-box;
}

#signupheader {
  height: 190px;
}

.headertext {
  font-size: 45px;
  font-family: Requited Script;
  position:relative;
	margin: 0;
  margin-left: 200px;
  text-align: left;
}

.radial-gradient {
  padding: 0;
}
  
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.catswinging {
  background-color: blueviolet;
  width: 100%;
}
  
.content {
    display: flex;
    justify-content: space-around;
    background-color: #f2796e;    /*SACRLO DESPUÉS*/
    padding: 10px 20px;
    margin-top: 100px;
    width: 10%;
}
 
  
/*.image {
    background-image: url("https://svgshare.com/i/_gZ.svg' title='illustration");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 65%;
}*/
  
/*.text {
    text-align: center;
    color: white;
    font-size: 18px;
}*/
  
form {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin-top: 150px;
}
  
/*.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}*/
  
form div input {
    width: 55%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
form div {
    position: relative;
    margin-bottom: 10px;
}
 
form, .content {
  width: 30%;
}
  
input:focus {
    border: 2px solid #f2796e;
}
  
.btn {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
}
 
.btn-1, .btn-2 {
    padding: 7px 5px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
  
.btn-1 {
  background-color: white;
  border: 2px solid #c4c4c4;
}

.btn-2 {
    background-color: #4f70b5;
    color: white;
    border: 2px solid #4f70b5;
}

/******************** INICIO TEXTO "OR" ********************/
.or {
    text-align: center;
    display:inline-block;
    position:sticky;
}

.or::before, .or::after {
    content:"";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: black;
    top:0.9em;
}

.or::before {
    left: -150px;
}

.or::after {
    right: -150px;
}
/********************** fin texto "or" ********************/
 
  /**
  * ! style rules for form icons
  **/
  
  form div i {
    position: absolute;
    padding: 10px;
  }
  
  .success-icon,
  .failure-icon {
    right: 0;
    opacity: 0;
  }
  
  .failure-icon,
  .error {
    color: red;
  }
  
  .success-icon {
    color: green;
  }
  
  .error {
    font-size: 14.5px;
    margin-top: 5px;
  }
  
  /**
  * ! style rules for button 
  **/
  
  button {
    margin-top: 15px;
    width: 60%;
    height: 45px;
    background: radial-gradient(at center, red, #cc2bec);
    border: 0;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .question, .question a, button, .or {
    font-family: Requited Script;
    font-size: 22px;
  }

  /**
  * ! Media Queries are here
  **/

    /*.image {
      height: 70vh;
    }*/
  
    @media only screen and (max-width: 1300px) {
      #signupheader {
        text-align: center;
      }
    
      .headertext {
        margin-left: 120px;
      }
      
      .lines-effect::after {
        display: none;
      }
    }
  
    @media only screen and (max-width: 1000px) {
      .content {
        display: none;
      }
    
      form {
        width: 70%;
      }
    }

    
  
    
@media only screen and (max-width: 600px) {
  form {
    padding: 20px;
  }

  .btn {
    flex-direction: column;
    align-items: center;
  
}}


  /*.catswinging {
    display: none;
  }*/




