/*selector {
    propiedad : 456
    propiedad : "23e23px"
}*/

@font-face {
    font-family: "DM Sans";
    src: url(../assets/fonts/DMSans-Regular.ttf);
}

* {
    font-family: 'DM Sans', sans-serif;
    src: url(../assets/fonts/DMSans-Regular.ttf)
}

body {
    background-color: #FFF3F3;
}

footer {
    background-color: #ffe6ff;
}