
@font-face {
    font-family: "DM Sans";
    src: url(../assets/fonts/DMSans-Regular.ttf);
}

* {
    text-decoration: none;   /* Le quita los subrayados del link a los íconos */
    font-family: 'DM Sans', sans-serif;
    src: url(../assets/fonts/DMSans-Regular.ttf);
}

header {
    text-align: center;
}

body {
    background-color: #FFF3F3;
}

footer {
    background-color: #ffe6ff;
}

.radial-gradient {
    background:radial-gradient(at center, red, #cc2bec);
}


/************************************************************/
/*   CREACIÓN DE LAS DOS LÍNEAS A LOS COSTADOS DEL TÍTULO   */
/************************************************************/

.lines-effect::before, .lines-effect::after {
    content:"";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top:2.5em;
}

.lines-effect::before {
    left: -90px;
}

.lines-effect::after {
    left: 240px;
}

.lines-effect {
    display: inline-block;
    position: relative;
}

/*******************************************************************/
/*   FIN DE CREACIÓN DE LAS DOS LÍNEAS A LOS COSTADOS DEL TÍTULO   */
/*******************************************************************/


#iconos {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#iconos img:hover{
    width: 45%;
}

#iconos > tbody > tr > td img {
    border-color: red;  /*SACARLO CUANDO TERMINE LA PÁGINA */
    border-width: 1px;  /*SACARLO CUANDO TERMINE LA PÁGINA */
    border-style: solid;  /*SACARLO CUANDO TERMINE LA PÁGINA */
    margin-left: 3em;
}
